<div class="options flex">
	<div class="sort-movies flex">
		<div class="tag flex">
			<i class="ri-filter-fill"></i>
			<span>Sort by: </span>
		</div>
		<select (change)="sortMovies($event.currentTarget.value)">
			<option value="NF">New First</option>
			<option value="OF">Old First</option>
			<option value="YD">Release Date Des.</option>
			<option value="YA">Release Date Asc.</option>
		</select>
	</div>
	<div class="filter-controle">
		<div class="option-btn" (click)="openFilter()">
			<i class="ri-equalizer-fill"></i> 
			<span>Filter</span>
		</div>
	</div>
</div>
<mm-movies-container (load)="loadMovies()" [movies]="movies" [loading]="loading"></mm-movies-container>