<div class="authentication-container flex">
	<div class="logo flex">
		<img routerLink="/home" src="/assets/images/mm_logo.png" alt="">
	</div>
	<div class="content flex">
		<div class="text flex">
			<span>A community built around Movies.</span>
			<div class="features flex">
				<div class="feature flex">
					<div><i class="ri-checkbox-circle-fill"></i></div>
					<span>Create a collection</span>
				</div>
				<div class="feature flex">
					<div><i class="ri-search-fill"></i></div>
					<span>Disocver Movies</span>
				</div>
				<div class="feature flex">
					<div><i class="ri-bar-chart-fill"></i></div>
					<span>Keep track of your stats</span>
				</div>
				<div class="feature flex">
					<div><i class="ri-thumb-up-fill"></i></div>
					<span>Get recommendations</span>
				</div>
			</div>
			<p>Find new movies based on what you like, share your taste of movies, get movies suggestions from the community and friends.<br>This website is built for you to find the next movie to watch, and maybe it will be your next favorite movie.</p>
		</div>
		<div class="form-container flex">
			<router-outlet></router-outlet>	
		</div>
	</div>
</div>

