:host {
	display: flex;
	width: 100%;
}

.slider-button {
	width: 40px;
	background: #2a2b2f;
	color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.slider-button-left {
	margin-right: 10px;
}

.slider-button-right {
	margin-left: 10px;
}