<div class="slider-button left-button" (click)="moveSlider(false)"><i class="ri-arrow-left-s-line"></i></div>
<mm-slider #featuredSlider [count]="7" [currentSlide]="2" [start]="2" [loop]="true">
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/original/{{featured[featured.length-1].backdrop_path}}');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">{{featured[featured.length-1].title}}</span>
					<span class="tagline">{{featured[featured.length-1].overview | text}}</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2018</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>{{featured[featured.length-1].vote_average}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngFor="let movie of featured" class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">{{movie.title}}</span>
					<span class="tagline">{{movie.overview | text}}</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>{{movie.release_date | year}}</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>{{movie.vote_average}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</mm-slider>
<div class="slider-button right-button" (click)="moveSlider(true)"><i class="ri-arrow-right-s-line"></i></div>
<div class="slides-indicators flex">
	<div class="indicators flex">
		<span class="active"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>