<div class="slider-button left-button" (click)="moveSlider(false)"><i class="ri-arrow-left-s-line"></i></div>
<mm-slider #featuredSlider [count]="7" [currentSlide]="2" [start]="2" [loop]="true">
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">Mission: Impossible - Fallout</span>
					<span class="tagline">Some Missions Are Not A Choice</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2018</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>7.3</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">Joker</span>
					<span class="tagline">Put on a happy face.</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2019</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>8.3</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/3ghImmHdp4RnC3UkL6hpLayclnb.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">Zombieland: Double Tap</span>
					<span class="tagline"></span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2019</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>7</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/skvI4rYFrKXS73BJxWGH54Omlvv.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">Maleficent: Mistress of Evil</span>
					<span class="tagline">Go beyond the fairy tale</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2019</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>7.2</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">Frozen II</span>
					<span class="tagline">The past is not what it seems.</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2019</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>7</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/eFw5YSorHidsajLTayo1noueIxI.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">6 Underground</span>
					<span class="tagline">They say no one can save the world. MEET NO ONE.</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2019</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>6.1</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-image" style="background-image: url('https://image.tmdb.org/t/p/w1280/aw4FOsWr2FY373nKSxbpNi3fz4F.jpg');">
			<div class="slide-content-container flex">
				<div class="content flex">
					<span class="title">Mission: Impossible - Fallout</span>
					<span class="tagline">Some Missions Are Not A Choice</span>
					<div class="more-info flex">
						<div class="year"><i class="ri-calendar-fill"></i><span>2018</span></div>
						<div class="year"><i class="ri-star-fill"></i><span>7.3</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</mm-slider>
<div class="slider-button right-button" (click)="moveSlider(true)"><i class="ri-arrow-right-s-line"></i></div>
<div class="slides-indicators flex">
	<div class="indicators flex">
		<span class="active"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>